dialog#nostrModal {
    @media (max-width: 767px) {
        width: 100%;
    }
    @media (min-width: 768px) {
        width: 50%;
    }
    @media (min-width: 1024px) {
        width: 40%;
    }
    @media (min-width: 1440px) {
        width: 30%;
    }
    margin: 6rem auto;
    border: 1px rgba(0, 0, 0, 0.6) solid;
    border-radius: 10px;
    outline: none;
    boxshadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
}

dialog#nostrModal::backdrop {
    background: rgba(0, 0, 0, 0.5);
}

dialog#nostrModal > div {
    padding: 0.875rem;
    position: relative;
}

dialog#nostrModal > div > button#nostrModalClose {
    position: absolute;
    top: 0rem;
    right: 0rem;
    border: none;
    font-weight: bold;
    padding: 0;
    background: transparent;
}

dialog#nostrModal > div > button#nostrModalClose svg {
    stroke: #444;
}
dialog#nostrModal > div > button#nostrModalClose:hover svg {
    color: #000;
    fill: #eee;
    stroke: #000;
}

dialog#nostrModal > div > h2#nostrModalTitle {
    margin: 1rem 0 0 0;
    text-align: center;
}

dialog#nostrModal > div > form#nostrModalForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

dialog#nostrModal > div > form#nostrModalForm .inputWrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

dialog#nostrModal > div > form#nostrModalForm .inputWrapperFull {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 0.5rem;
}

dialog#nostrModal > div > form#nostrModalForm input[type="text"],
dialog#nostrModal > div > form#nostrModalForm input[type="email"] {
    padding: 0.5rem;
    border: 1px rgba(0, 0, 0, 0.6) solid;
    border-radius: 5px;
    flex-grow: 1;
    outline: none;
}

dialog#nostrModal > div > form#nostrModalForm input[type="text"].invalid,
dialog#nostrModal > div > form#nostrModalForm input[type="email"].invalid,
dialog#nostrModal > div > form#nostrModalForm select.invalid {
    border: 1px red solid;
}

dialog#nostrModal > div > form#nostrModalForm select {
    padding: 0.5rem;
    border: 1px rgba(0, 0, 0, 0.6) solid;
    border-radius: 5px;
    flex-grow: 1;
    outline: none;
}

dialog#nostrModal > div > form#nostrModalForm label {
    font-size: 0.875rem;
}

dialog#nostrModal > div #nostrModalNip05Error,
dialog#nostrModal > div #nostrModalBunkerError {
    color: red;
    display: none;
    align-self: flex-start;
    font-size: 0.75rem;
    margin-bottom: 0.5rem;
}

dialog#nostrModal > div > form#nostrModalForm button[type="submit"] {
    width: 100%;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    background: #000;
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    items-align: center;
    justify-content: center;
}

dialog#nostrModal > div > form#nostrModalForm button[type="submit"]:hover {
    background: #333;
}

dialog#nostrModal > div > form#nostrModalForm button[type="submit"]:disabled {
    background: #555;
    cursor: not-allowed;
    color: #ccc;
}

dialog#nostrModal > div > #nostrModalLearnMore {
    margin-top: 2rem;
    text-align: center;
    font-size: 0.75rem;
    color: #555;
}

/* Loading spinner */
dialog#nostrModal #nostrModalSubmitSpinner {
    display: none;
}
dialog#nostrModal #nostrModalSubmitSpinner:after {
    content: " ";
    display: block;
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    border: 0.2rem solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
